*{
    margin: 0px;
    padding: 0px;
}
.nav1{
    height: 90px;
    box-shadow: rgb(151, 187, 175);
    background-color: rgb(99, 165, 165);
}
.nav1 div{
    display: inline-block;
}
.nav1 ul{
    display: inline-block;
    float: right;
    
}
.li1{
    display: inline-block;  
    margin-top: 30px;
    margin-right: 40px;
}
.li1 a:hover{
    color:rgb(110, 193, 193);
}

.nav1 ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.nav1 div a{
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: rgb(116, 217, 217);
    font-size: 32px;
}
.sp{
    position: relative;
    top: -16px;
    background-color: black;
    color: white;
    padding: 0px 7px;
    border-radius: 50%;
    left: -7px;
}
/* end nav */
.service{
    background-color:  whitesmoke;
}
.service a{
    display: inline-block;
    margin-left: 250px;
}
.service a img{
    width: 1000px;
}
/* form */
.form{
    margin: auto;
    width: 50%;
    margin-top: 50px;
    font-size: large;
    background-color: whitesmoke;
}
input[type="text"],input[type="email"],input[type="number"]{
    width: 98%;
    height: 35px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}
#address{
    width: 98%;
    height: 38px;
    border: 2px solid black;
    outline: none;
    border-radius: 13px;
}
.form div{
    margin-top: 4px;
}
/* fieldset */
.field{
    margin-top: 17px;
    border-radius: 5px;
}
p{
    margin-top: 7px;
}
.field ul{
    margin-top: 5px;
}
li{
    margin-top: 4px;
}
button{
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 17px;
    width: 65px;
    height: 23px;
    font-size: 15px;
}
button:hover{
    background-color: gray;
}
.support div p{
    display: inline-block;
    margin-left: 10px;
}

.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 40px;
    padding: 40px;
    background-color: rgb(140, 144, 144);
}
.support div{
    padding-left: 40px;
}
.support div b{
    font-size: large;
}
/* footer */
.footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-a{
    color: gray;
    margin: 0px 16px;
    text-decoration: none;
}
.Design{
    color: gray;
    margin-top: 20px;
}
.footer-icon{
    color: gray;
    display: inline-block;
    margin: 20px 10px;
}